# --------------------------------

# PersistentVolume
#https://github.com/helm/helm/releases
#Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))
# --------------------------------

apiVersion: v1

kind: PersistentVolume

metadata:

  name: demo-pv

spec:

  capacity:

    storage: 1Gi

  accessModes:

    - ReadWriteOnce

  persistentVolumeReclaimPolicy: Retain

  hostPath:

    path: /mnt/data
 
---

# --------------------------------

# PersistentVolumeClaim

# --------------------------------

apiVersion: v1

kind: PersistentVolumeClaim

metadata:

  name: demo-pvc

spec:

  accessModes:

    - ReadWriteOnce

  resources:

    requests:

      storage: 500Mi
 
---

# --------------------------------

# Pod using PVC

# --------------------------------

apiVersion: v1

kind: Pod

metadata:

  name: demo-pod

spec:

  containers:

  - name: nginx

    image: nginx

    ports:

    - containerPort: 80

    volumeMounts:

    - name: storage

      mountPath: /usr/share/nginx/html

  volumes:

  - name: storage

    persistentVolumeClaim:

      claimName: demo-pvc

 
