UPDATED
 
apiVersion: apps/v1

kind: Deployment

metadata:

  name: apache-deploy

  labels:

    app: apache

spec:

  replicas: 3

  selector:

    matchLabels:

      app: apache

  template:

    metadata:

      labels:

        app: apache

    spec:

      containers:

      - name: apache

        image: httpd:2.4

        ports:apiVersion: apps/v1

kind: Deployment

metadata:

  name: apache

spec:

  replicas: 3

  selector:

    matchLabels:

      app: apache

  template:

    metadata:

      labels:

        app: apache

    spec:

      containers:

      - name: apache

        image: httpd:2.4

        ports:

        - containerPort: 80
 
        - containerPort: 80

---

apiVersion: v1

kind: Service

metadata:

  name: apache-service

spec:

  type: NodePort

  selector:

    app: apache

  ports:

  - port: 80

    targetPort: 80

    nodePort: 30080
 
